fastapi
uvicorn[standard]
motor
pymongo
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
pydantic[email]
pydantic-settings
google-genai
pandas
numpy
scikit-learn
joblib
python-multipart
bcrypt
certifi
